@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

:root {
    --font-titulos: "Whisper", cursive;
    --font-weigth-titulos: 600;
    --font-paragrafos: font-family: "Cardo", serif;
    --font-weigth-paragrafos: 500;
    --cinza: #332d2df3;
    --azul-marinho: #003366;
}

body {
    margin: 0;
}

h1,
h2,
h3,
p,
img,
div,
section {
    margin: 0;
}

h2 {
    padding: 0 2rem;
    font-family: var(--font-titulos);
    font-weight: var(--font-weigth-titulos);
    font-size: 2.5rem;
}

p {
    font-family: var(--font-paragrafos);
    font-weight: var(--font-weigth-paragrafos);
    font-size: 1.1rem;
    padding: 0 5rem;
    color: var(--cinza);
}

.fundo1 {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("imagens/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.abertura-container {
    position: relative;
    width: 100vw;
    min-height: 45vh;
    margin: 0;
}

.img-abertura {
    position: absolute;
}

.abertura-laço {
    width: 70vw;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.abertura-texto {
    width: 60vw;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.abertura-taça {
    width: 44vw;
    top: 18%;
    left: -12%;
    z-index: 2;
}

.abertura-taça-2 {
    width: 45vw;
    top: 5%;
    left: 55%;
    z-index: 2;
}

.abertura-brilho {
    width: 45vw;
    top: 50%;
    left: 3%;
    z-index: 3;
}

.abertura-brilho2 {
    width: 45vw;
    top: 50%;
    left: 53%;
    z-index: 3;
}

.botoes {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 10px;
    gap: 10px;
}

.botoes-item a {
    text-decoration: none;
    color: white;

}

.botoes-item {
    padding: 0.2rem 0.5rem;
    color: white;
    font-size: 1rem;
    align-content: center;
    text-align: center;
    background-color: black;
    border-radius: 15px;
}

.infos {
    position: relative;
    text-align: center;
    min-height: 45vh;
    margin-top: 3.5rem;
    margin-bottom: 4rem;
}

.infos h3 {
    margin-top: 1em;
    font-family: "Homemade Apple", cursive;
    font-weight: 500;
    font-size: 1em;
}

.infos .data {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

.img-infos {
    position: absolute;
}

.info-taça3 {
    width: 30%;
    top: 28%;
    left: -5%;
    z-index: 1;
}

.info-taca4 {
    width: 35%;
    top: 30%;
    left: 64%;
    z-index: 1;
}

.info-laco-preto {
    width: 16%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.tema {
    position: relative;
    text-align: center;
    min-height: 50vh;
    margin-bottom: 4rem;
}

.titulo-tema {
    font-size: 3rem;
}

.tema p {
    padding: 0 4rem;
}

.img-tema {
    position: absolute;
}

.tema-taca-5 {
    width: 50%;
    top: 60%;
    left: -13%;
    z-index: 1;
}

.tema-laco-preto {
    width: 16%;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.traje {
    position: relative;
    text-align: center;
    min-height: 40vh;
    margin-bottom: 4rem;
}

.titulo-traje {
    font-size: 3rem;
}

.traje p {
    padding: 0 4rem;
}

.img-traje {
    position: absolute;
}

.traje-vestido {
    width: 18%;
    top: -15%;
    left: 82%;
    z-index: 1;
}

.traje-vestido2 {
    width: 20%;
    top: 75%;
    left: 3%;
    z-index: 1;
}

.traje-bota {
    width: 15%;
    top: 28%;
    left: 1%;
    z-index: 1;
}

.traje-gravata {
    width: 20%;
    top: 40%;
    left: 78%;
    z-index: 1;
}

.traje-laco-preto {
    width: 16%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.bebida {
    position: relative;
    text-align: center;
    min-height: 40vh;
    margin-bottom: 4rem;
}

.titulo-bebida {
    font-size: 3rem;
}

.bebida p {
    padding: 0 5rem;
}

.img-bebida {
    position: absolute;
}

.bebida-taca {
    width: 25%;
    top: -16%;
    left: 75%;
    z-index: 1;
}

.bebida-tacas {
    width: 25%;
    top: 60%;
    left: 0%;
    z-index: -1;
    overflow: hidden;
}

.bebida-copo {
    width: 35%;
    top: 50%;
    left: 65%;
    z-index: 1;
}

.bebida-laco-preto {
    width: 16%;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.jogos {
    position: relative;
    text-align: center;
    min-height: 40vh;
    margin-bottom: 4rem;
}

.titulo-jogos {
    font-size: 3rem;
}

.jogos p {
    padding: 0 5rem;
}

.img-jogos {
    position: absolute;
}

.jogos-controle {
    width: 16%;
    top: 0%;
    left: 80%;
    z-index: 1;
}

.jogos-piao {
    width: 14%;
    top: 15%;
    left: 5%;
    z-index: 1;
}

.jogos-dados {
    width: 18%;
    top: 60%;
    left: 4%;
    z-index: 1;
}

.jogos-cartas {
    width: 16%;
    top: 50%;
    left: 82%;
    z-index: 1;
}

.jogos-laco-preto {
    width: 16%;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}


.local {
    position: relative;
    text-align: center;
    margin-bottom: 4rem;
}

.titulo-local {
    font-size: 3rem;
}

.local p {
    padding: 0 3.7rem;
}

.img-local {
    position: absolute;
}

.local-onibus {
    width: 22%;
    top: -5%;
    left: 4%;
    z-index: 1;
}

.local-mapa {
    width: 20%;
    top: -6%;
    left: 77%;
    z-index: 1;
}

.local-brilho {
    width: 20%;
    top: -6%;
    left: 77%;
    z-index: 1;
}

.local-carro {
    width: 20%;
    top: 20%;
    left: 77%;
    z-index: 1;
}

.local-linhas {
    width: 35%;
    top: 20%;
    left: -7%;
    z-index: 0;
}

.mapa-container {
    display: flex;
    justify-content: center;
    margin: 3rem 0 1rem 0;
}

#mapa {
    width: 350px;
    height: 350px;
    border-radius: 16px;
}

.frase-final {
    display: flex;
    justify-content: center;
    font-family: var(--font-titulos);
    font-size: 40px;
}

footer {
    padding: 0.5em;
    text-align: center;
    font-family: "Jockey One", sans-serif;
    font-size: 1em;
    font-weight: 700;
}

footer a {
    text-decoration: none;
    color: var(--azul-marinho);
}